* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f7fb;
  font-family: "Inter";
}

.quiz-intro {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-header {
  font-weight: 700;
  font-size: 2rem;
  color: #293264;
}

h3 {
  color: #293264;
}

.start-btn {
  border-radius: 15px;
  outline: none;
  border: none;
  background: #4d5b9e;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  color: #f5f7fb;
}

.mixed-answers {
  background: none;
  border-radius: 10px;
  border: 0.8px solid #4d5b9e;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: #293264;
  cursor: pointer;
  white-space: normal;
  padding: 3px 15px;
}

.check-answers {
  background: #4d5b9e;
  border-radius: 10px;
  border: 0.8px solid #dbdef0;
  width: 120px;
  height: 35px;
  font-weight: 600;
  font-size: 10px;
  color: #f5f7fb;
  text-align: center;
  cursor: pointer;
}

.question {
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
  margin-top: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-bottom: 20px;
}

.whole-question {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border-bottom: 1px solid #dbdef0;
  gap: 20px;
}

.correct-answers {
  color: #293264;
  display: flex;
  margin-top: 10px;
  font-weight: 700;
}

.everything {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 810px) {
  .everything {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .mixed-answers {
    width: 50%;
    margin: 0 auto;
    white-space: normal;
  }
}
